pathfinder-workflow-corrected.json
{
  "name": "PathFinder Narrator - Simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pathfinder-narration",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "pathfinder-narration"
    },
    {
      "parameters": {
        "url": "=https://en.wikipedia.org/api/rest_v1/page/summary/{{ $json.body.wikipediaPage }}",
        "options": {}
      },
      "id": "2",
      "name": "Get Wikipedia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an engaging historical tour guide. \n\nLocation: {{ $('Webhook').item.json.body.locationTitle }}\n\nDescription: {{ $('Webhook').item.json.body.locationDescription }}\n\nHistorical context: {{ $json.extract }}\n\nCreate a 2-3 sentence immersive narration as if you're standing at this location. Use vivid imagery and make it engaging.",
        "options": {
          "systemMessage": "You are a professional tour guide who makes history come alive with storytelling."
        }
      },
      "id": "3",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [680, 300],
      "credentials": {
        "groqApi": "Groq"
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').item.json.body;\nconst wikipediaData = $('Get Wikipedia').item.json;\nconst aiResponse = $('AI Agent').item.json;\n\nreturn {\n  success: true,\n  pathId: webhookData.pathId,\n  locationId: webhookData.locationId,\n  locationTitle: webhookData.locationTitle,\n  narration: aiResponse.output || aiResponse.text || 'Narration generated',\n  historicalContext: {\n    title: wikipediaData.title,\n    extract: wikipediaData.extract,\n    thumbnail: wikipediaData.thumbnail?.source || null,\n    url: wikipediaData.content_urls?.desktop?.page || null\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "4",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "5",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Wikipedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Wikipedia": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
